PORT=4545
SESSION_SECRET=qQqO8XDZxKcnu5qBH6GQNWicrjJSztrFMt0bOCLfdr598DpZXf9elSVDKP5gq9PU
KAKAO_REST_API_KEY=167049e39627e378e65c347294f937b0
KAKAO_CLIENT_SECRET=MfnXM0k2cOU9gUGiUoyZT9TWkVLnRmM6
KAKAO_REDIRECT_URI=http://so-when.kro.kr/api/auth/kakao/callback
